{
  "openapi": "3.0.0",
  "info": {
    "title": "ORDS generated API for v1",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://todu.mn/bs/lms/v1"
    }
  ],
  "paths": {
    "/attendance-types": {
      "post": {
        "description": "Ирцийн төрөл нэмнэ",
        "responses": {
          "201": {
            "description": "The successfully created record.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v1_ITEM"
              }
            }
          }
        }
      },
      "get": {
        "description": "Ирцийн төрлүүдийг авна",
        "responses": {
          "200": {
            "description": "The queried record.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "created_by": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "created_on": {
                            "$ref": "#/components/schemas/TIMESTAMP"
                          },
                          "id": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "is_requestable": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "name": {
                            "$ref": "#/components/schemas/VARCHAR2"
                          },
                          "priority": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "updated_by": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "updated_on": {
                            "$ref": "#/components/schemas/TIMESTAMP"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": []
      }
    },
    "/attendance-types/{attendance_type_id}": {
      "put": {
        "description": "Ирцийн төрлийн мэдээллийг өөрчилнө",
        "responses": {
          "200": {
            "description": "The successfully updated record.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "201": {
            "description": "The successfully created record.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "attendance_type_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "description": "implicit"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v1_ITEM_2"
              }
            }
          }
        }
      },
      "delete": {
        "description": "Ирцийн төрөл устгана",
        "responses": {
          "204": {
            "description": "Deleted result."
          }
        },
        "parameters": [
          {
            "name": "attendance_type_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "description": "implicit"
          }
        ]
      }
    },
    "/categories/{category_id}": {
      "put": {
        "description": "Ангиллын мэдээллийг өөрчилнө",
        "responses": {
          "200": {
            "description": "The successfully updated record.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "201": {
            "description": "The successfully created record.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "category_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "description": "implicit"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v1_ITEM_3"
              }
            }
          }
        }
      },
      "get": {
        "description": "Ангиллын дэлгэрэнгүй мэдээлэл авна",
        "responses": {
          "200": {
            "description": "The queried record.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "created_by": {
                      "$ref": "#/components/schemas/NUMBER"
                    },
                    "created_on": {
                      "$ref": "#/components/schemas/TIMESTAMP"
                    },
                    "id": {
                      "$ref": "#/components/schemas/NUMBER"
                    },
                    "name": {
                      "$ref": "#/components/schemas/VARCHAR2"
                    },
                    "parent_id": {
                      "$ref": "#/components/schemas/NUMBER"
                    },
                    "picture": {
                      "$ref": "#/components/schemas/VARCHAR2"
                    },
                    "priority": {
                      "$ref": "#/components/schemas/NUMBER"
                    },
                    "school_id": {
                      "$ref": "#/components/schemas/NUMBER"
                    },
                    "updated_by": {
                      "$ref": "#/components/schemas/NUMBER"
                    },
                    "updated_on": {
                      "$ref": "#/components/schemas/TIMESTAMP"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "category_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "description": "implicit"
          }
        ]
      },
      "delete": {
        "description": "Ангилал устгана",
        "responses": {
          "204": {
            "description": "Deleted result."
          }
        },
        "parameters": [
          {
            "name": "category_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "description": "implicit"
          }
        ]
      }
    },
    "/categories/{category_id}/courses": {
      "get": {
        "description": "Тухайн ангилал дах хичээлүүдийг авна",
        "responses": {
          "200": {
            "description": "The queried record.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "access_type_id": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "category_id": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "cloned_course_id": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "created_by": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "created_on": {
                            "$ref": "#/components/schemas/TIMESTAMP"
                          },
                          "credits": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "description": {
                            "$ref": "#/components/schemas/CLOB"
                          },
                          "end_on": {
                            "$ref": "#/components/schemas/DATE"
                          },
                          "id": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "name": {
                            "$ref": "#/components/schemas/VARCHAR2"
                          },
                          "picture": {
                            "$ref": "#/components/schemas/VARCHAR2"
                          },
                          "price": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "priority": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "school_id": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "start_on": {
                            "$ref": "#/components/schemas/DATE"
                          },
                          "updated_by": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "updated_on": {
                            "$ref": "#/components/schemas/TIMESTAMP"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "category_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "description": "implicit"
          }
        ]
      }
    },
    "/categories/{category_id}/courses/{course_id}": {
      "delete": {
        "description": "Хичээлийг ангиллаас хасна",
        "responses": {
          "204": {
            "description": "Deleted result."
          }
        },
        "parameters": [
          {
            "name": "category_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "description": "implicit"
          },
          {
            "name": "course_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "description": "implicit"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v1_ITEM_4"
              }
            }
          }
        }
      }
    },
    "/courses/{course_id}": {
      "get": {
        "description": "Хичээлийн дэлгэрэнгүй мэдээллийг авна",
        "responses": {
          "200": {
            "description": "The queried record.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "access_type_id": {
                      "$ref": "#/components/schemas/NUMBER"
                    },
                    "category_id": {
                      "$ref": "#/components/schemas/NUMBER"
                    },
                    "cloned_course_id": {
                      "$ref": "#/components/schemas/NUMBER"
                    },
                    "created_by": {
                      "$ref": "#/components/schemas/NUMBER"
                    },
                    "created_on": {
                      "$ref": "#/components/schemas/TIMESTAMP"
                    },
                    "credits": {
                      "$ref": "#/components/schemas/NUMBER"
                    },
                    "description": {
                      "$ref": "#/components/schemas/CLOB"
                    },
                    "end_on": {
                      "$ref": "#/components/schemas/DATE"
                    },
                    "id": {
                      "$ref": "#/components/schemas/NUMBER"
                    },
                    "name": {
                      "$ref": "#/components/schemas/VARCHAR2"
                    },
                    "picture": {
                      "$ref": "#/components/schemas/VARCHAR2"
                    },
                    "price": {
                      "$ref": "#/components/schemas/NUMBER"
                    },
                    "priority": {
                      "$ref": "#/components/schemas/NUMBER"
                    },
                    "school_id": {
                      "$ref": "#/components/schemas/NUMBER"
                    },
                    "start_on": {
                      "$ref": "#/components/schemas/DATE"
                    },
                    "updated_by": {
                      "$ref": "#/components/schemas/NUMBER"
                    },
                    "updated_on": {
                      "$ref": "#/components/schemas/TIMESTAMP"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "course_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "description": "implicit"
          }
        ]
      },
      "put": {
        "description": "Хичээлийн мэдээллийг өөрчилнө",
        "responses": {
          "200": {
            "description": "The successfully updated record.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "201": {
            "description": "The successfully created record.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "course_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "description": "implicit"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v1_ITEM_5"
              }
            }
          }
        }
      },
      "delete": {
        "description": "Хичээлийг устгана",
        "responses": {
          "204": {
            "description": "Deleted result."
          }
        },
        "parameters": [
          {
            "name": "course_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "description": "implicit"
          }
        ]
      },
      "post": {
        "description": "Хичээлийг хувилж үүсгэнэ",
        "responses": {
          "201": {
            "description": "The successfully created record.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "course_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "description": "implicit"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v1_ITEM_6"
              }
            }
          }
        }
      }
    },
    "/courses/{course_id}/attendance-points": {
      "get": {
        "description": "Ирцийн оноонуудыг авна",
        "responses": {
          "200": {
            "description": "The queried record.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "course_id": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "created_by": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "created_on": {
                            "$ref": "#/components/schemas/TIMESTAMP"
                          },
                          "id": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "point": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "type_id": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "updated_by": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "updated_on": {
                            "$ref": "#/components/schemas/TIMESTAMP"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "course_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "description": "implicit"
          }
        ]
      },
      "post": {
        "description": "Ирцийн оноо нэмнэ",
        "responses": {
          "201": {
            "description": "The successfully created record.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "course_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "description": "implicit"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v1_ITEM_7"
              }
            }
          }
        }
      }
    },
    "/courses/{course_id}/attendances": {
      "get": {
        "description": "Хичээлийн ирцүүдийг авна",
        "responses": {
          "200": {
            "description": "The queried record.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "created_by": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "created_on": {
                            "$ref": "#/components/schemas/TIMESTAMP"
                          },
                          "id": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "lesson_id": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "type_id": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "updated_by": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "updated_on": {
                            "$ref": "#/components/schemas/TIMESTAMP"
                          },
                          "user_id": {
                            "$ref": "#/components/schemas/NUMBER"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "course_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "description": "implicit"
          }
        ]
      }
    },
    "/courses/{course_id}/exams": {
      "get": {
        "description": "Хичээлийн шалгалтуудыг авна",
        "responses": {
          "200": {
            "description": "The queried record.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "close_on": {
                            "$ref": "#/components/schemas/TIMESTAMP"
                          },
                          "course_id": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "description": {
                            "$ref": "#/components/schemas/CLOB"
                          },
                          "duration": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "end_on": {
                            "$ref": "#/components/schemas/TIMESTAMP"
                          },
                          "grade_point": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "id": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "max_attempt": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "name": {
                            "$ref": "#/components/schemas/VARCHAR2"
                          },
                          "open_on": {
                            "$ref": "#/components/schemas/TIMESTAMP"
                          },
                          "total_point": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "{}course": {
                            "$ref": "#/components/schemas/VARCHAR2"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "course_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "description": "implicit"
          }
        ]
      },
      "post": {
        "description": "Хичээлд шалгалт нэмнэ",
        "responses": {
          "201": {
            "description": "The successfully created record.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "course_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "description": "implicit"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v1_ITEM_8"
              }
            }
          }
        }
      }
    },
    "/courses/{course_id}/gradebook": {
      "get": {
        "description": "Явцын дүнгүүдийг авна.",
        "responses": {
          "200": {
            "description": "The queried record.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {}
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "course_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "description": "implicit"
          }
        ]
      }
    },
    "/courses/{course_id}/gradebook/attendances": {
      "get": {
        "description": "Ирцийн дүнгүүдийг авна.",
        "responses": {
          "200": {
            "description": "The queried record.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "lesson_id": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "point": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "type_id": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "user_id": {
                            "$ref": "#/components/schemas/NUMBER"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "course_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "description": "implicit"
          }
        ]
      }
    },
    "/courses/{course_id}/gradebook/exams": {
      "get": {
        "description": "Шалгалтын дүнгүүдийг авна.",
        "responses": {
          "200": {
            "description": "The queried record.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "exam_id": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "grade_point": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "id": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "user_id": {
                            "$ref": "#/components/schemas/NUMBER"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "course_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "description": "implicit"
          }
        ]
      }
    },
    "/courses/{course_id}/gradebook/submissions": {
      "get": {
        "description": "Даалгаврын дүнгүүдийг авна.",
        "responses": {
          "200": {
            "description": "The queried record.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "grade_point": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "id": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "lesson_id": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "user_id": {
                            "$ref": "#/components/schemas/NUMBER"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "course_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "description": "implicit"
          }
        ]
      }
    },
    "/courses/{course_id}/groups": {
      "get": {
        "description": "Хичээлийн багуудыг авна",
        "responses": {
          "200": {
            "description": "The queried record.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "course_id": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "created_by": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "created_on": {
                            "$ref": "#/components/schemas/TIMESTAMP"
                          },
                          "id": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "name": {
                            "$ref": "#/components/schemas/VARCHAR2"
                          },
                          "priority": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "updated_by": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "updated_on": {
                            "$ref": "#/components/schemas/TIMESTAMP"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "course_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "description": "implicit"
          }
        ]
      },
      "post": {
        "description": "Хичээлд баг нэмнэ",
        "responses": {
          "201": {
            "description": "The successfully created record.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "course_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "description": "implicit"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v1_ITEM_9"
              }
            }
          }
        }
      }
    },
    "/courses/{course_id}/lessons": {
      "get": {
        "description": "Хичээлийн агуулгуудыг авна",
        "responses": {
          "200": {
            "description": "The queried record.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "close_on": {
                            "$ref": "#/components/schemas/TIMESTAMP"
                          },
                          "content": {
                            "$ref": "#/components/schemas/CLOB"
                          },
                          "course_id": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "end_on": {
                            "$ref": "#/components/schemas/TIMESTAMP"
                          },
                          "has_submission": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "id": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "name": {
                            "$ref": "#/components/schemas/VARCHAR2"
                          },
                          "open_on": {
                            "$ref": "#/components/schemas/TIMESTAMP"
                          },
                          "parent_id": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "point": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "priority": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "type_id": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "{}type": {
                            "$ref": "#/components/schemas/VARCHAR2"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "course_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "description": "implicit"
          }
        ]
      },
      "post": {
        "description": "Хичээлийн агуулга нэмнэ",
        "responses": {
          "201": {
            "description": "The successfully created record.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "course_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "description": "implicit"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v1_ITEM_10"
              }
            }
          }
        }
      }
    },
    "/courses/{course_id}/question-points": {
      "get": {
        "description": "Асуултын оноонуудыг авна",
        "responses": {
          "200": {
            "description": "The queried record.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "course_id": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "created_by": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "created_on": {
                            "$ref": "#/components/schemas/TIMESTAMP"
                          },
                          "id": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "level_id": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "point": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "updated_by": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "updated_on": {
                            "$ref": "#/components/schemas/TIMESTAMP"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "course_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "description": "implicit"
          }
        ]
      },
      "post": {
        "description": "Асуултын оноо нэмнэ",
        "responses": {
          "201": {
            "description": "The successfully created record.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "course_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "description": "implicit"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v1_ITEM_11"
              }
            }
          }
        }
      }
    },
    "/courses/{course_id}/questions": {
      "post": {
        "description": "Асуулт нэмнэ",
        "responses": {
          "201": {
            "description": "The successfully created record.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "course_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "description": "implicit"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v1_ITEM_12"
              }
            }
          }
        }
      },
      "get": {
        "description": "Асуултууд авна",
        "responses": {
          "200": {
            "description": "The queried record.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "answer": {
                            "$ref": "#/components/schemas/JSON"
                          },
                          "course_id": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "created_by": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "created_on": {
                            "$ref": "#/components/schemas/TIMESTAMP"
                          },
                          "id": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "lesson_id": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "level_id": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "option": {
                            "$ref": "#/components/schemas/JSON"
                          },
                          "parent_id": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "question": {
                            "$ref": "#/components/schemas/CLOB"
                          },
                          "type_id": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "updated_by": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "updated_on": {
                            "$ref": "#/components/schemas/TIMESTAMP"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "course_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "description": "implicit"
          }
        ]
      }
    },
    "/courses/{course_id}/questions/summary": {
      "get": {
        "description": "Хичээлийн асуултуудыг сэдэв, түвшин, төрлөөр нь тоолно.",
        "responses": {
          "200": {
            "description": "The queried record.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "count": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "lesson_id": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "{}lesson": {
                            "$ref": "#/components/schemas/VARCHAR2"
                          },
                          "{}levels": {
                            "$ref": "#/components/schemas/VARCHAR2"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "course_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "description": "implicit"
          }
        ]
      }
    },
    "/courses/{course_id}/timetables": {
      "get": {
        "description": "Хичээлийн хуваарийн сонголтуудыг авна",
        "responses": {
          "200": {
            "description": "The queried record.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "course_id": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "id": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "is_selected": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "lesson_type_id": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "period_id": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "priority": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "selected_count": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "teacher_user_id": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "weekday": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "week_interval": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "{}lesson_type": {
                            "$ref": "#/components/schemas/VARCHAR2"
                          },
                          "{}period": {
                            "$ref": "#/components/schemas/VARCHAR2"
                          },
                          "{}teacher": {
                            "$ref": "#/components/schemas/VARCHAR2"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "course_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "description": "implicit"
          },
          {
            "name": "current_user",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Implicit parameter"
          }
        ]
      },
      "post": {
        "description": "Хичээлийн хуваарийн мөр нэмнэ",
        "responses": {
          "201": {
            "description": "The successfully created record.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "course_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "description": "implicit"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v1_ITEM_13"
              }
            }
          }
        }
      }
    },
    "/courses/{course_id}/timetables/my": {
      "get": {
        "description": "Миний сонгосон хуваарийн мөрүүдийг авна",
        "responses": {
          "200": {
            "description": "The queried record.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "course_id": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "id": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "timetable_id": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "user_id": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "{}timetable": {
                            "$ref": "#/components/schemas/VARCHAR2"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "course_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "description": "implicit"
          },
          {
            "name": "current_user",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Implicit parameter"
          }
        ]
      },
      "post": {
        "description": "Хуваарийн мөр сонгоно",
        "responses": {
          "201": {
            "description": "The successfully created record.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "course_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "description": "implicit"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v1_ITEM_14"
              }
            }
          }
        }
      }
    },
    "/courses/{course_id}/timetables/my/{timetable_id}": {
      "delete": {
        "description": "Сонгосон хуваарийн мөрөө цуцална",
        "responses": {
          "204": {
            "description": "Deleted result."
          }
        },
        "parameters": [
          {
            "name": "course_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "description": "implicit"
          },
          {
            "name": "timetable_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "description": "implicit"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v1_ITEM_15"
              }
            }
          }
        }
      }
    },
    "/courses/{course_id}/timetables/users": {
      "get": {
        "description": "Курсын бүх оюутны сонгосон хуваарийн мөрүүдийг авна (багш/админ)",
        "responses": {
          "200": {
            "description": "The queried record.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "course_id": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "id": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "timetable_id": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "user_id": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "{}user": {
                            "$ref": "#/components/schemas/VARCHAR2"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "course_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "description": "implicit"
          }
        ]
      },
      "post": {
        "description": "Багш оюутанд хуваарийн мөр онооно (MERGE)",
        "responses": {
          "201": {
            "description": "The successfully created record.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "course_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "description": "implicit"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v1_ITEM_16"
              }
            }
          }
        }
      }
    },
    "/courses/{course_id}/timetables/users/{user_id}/{timetable_id}": {
      "delete": {
        "description": "Багш оюутны хуваарийн мөрийг устгана",
        "responses": {
          "204": {
            "description": "Deleted result."
          }
        },
        "parameters": [
          {
            "name": "course_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "description": "implicit"
          },
          {
            "name": "timetable_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "description": "implicit"
          },
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "description": "implicit"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v1_ITEM_15"
              }
            }
          }
        }
      }
    },
    "/courses/{course_id}/users": {
      "get": {
        "description": "Хичээлийн хэрэглэгчдийг авна",
        "responses": {
          "200": {
            "description": "The queried record.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "course_id": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "created_by": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "created_on": {
                            "$ref": "#/components/schemas/TIMESTAMP"
                          },
                          "group_id": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "id": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "payment_amount": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "payment_due_date": {
                            "$ref": "#/components/schemas/DATE"
                          },
                          "payment_status_id": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "updated_by": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "updated_on": {
                            "$ref": "#/components/schemas/TIMESTAMP"
                          },
                          "user_id": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "{}group": {
                            "$ref": "#/components/schemas/VARCHAR2"
                          },
                          "{}user": {
                            "$ref": "#/components/schemas/VARCHAR2"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "course_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "description": "implicit"
          }
        ]
      },
      "post": {
        "description": "Хичээлд хэрэглэгч нэмнэ",
        "responses": {
          "201": {
            "description": "The successfully created record.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "course_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "description": "implicit"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v1_ITEM_17"
              }
            }
          }
        }
      }
    },
    "/courses/{course_id}/users/{user_id}": {
      "get": {
        "description": "Хичээлийн хэрэглэгчийн мэдээллийг авна",
        "responses": {
          "200": {
            "description": "The queried record.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "course_id": {
                      "$ref": "#/components/schemas/NUMBER"
                    },
                    "created_by": {
                      "$ref": "#/components/schemas/NUMBER"
                    },
                    "created_on": {
                      "$ref": "#/components/schemas/TIMESTAMP"
                    },
                    "group_id": {
                      "$ref": "#/components/schemas/NUMBER"
                    },
                    "id": {
                      "$ref": "#/components/schemas/NUMBER"
                    },
                    "payment_amount": {
                      "$ref": "#/components/schemas/NUMBER"
                    },
                    "payment_due_date": {
                      "$ref": "#/components/schemas/DATE"
                    },
                    "payment_status_id": {
                      "$ref": "#/components/schemas/NUMBER"
                    },
                    "updated_by": {
                      "$ref": "#/components/schemas/NUMBER"
                    },
                    "updated_on": {
                      "$ref": "#/components/schemas/TIMESTAMP"
                    },
                    "user_id": {
                      "$ref": "#/components/schemas/NUMBER"
                    },
                    "{}group": {
                      "$ref": "#/components/schemas/VARCHAR2"
                    },
                    "{}user": {
                      "$ref": "#/components/schemas/VARCHAR2"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "course_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "description": "implicit"
          },
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "description": "implicit"
          }
        ]
      },
      "put": {
        "description": "Хичээлийн хэрэглэгчийн баг, багш эсвэл оюутан гэсэн мэдээллийг өөрчилнө.",
        "responses": {
          "200": {
            "description": "The successfully updated record.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "201": {
            "description": "The successfully created record.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "course_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "description": "implicit"
          },
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "description": "implicit"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v1_ITEM_18"
              }
            }
          }
        }
      },
      "delete": {
        "description": "Хэрэглэгчийг хичээлээс хасна",
        "responses": {
          "204": {
            "description": "Deleted result."
          }
        },
        "parameters": [
          {
            "name": "course_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "description": "implicit"
          },
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "description": "implicit"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v1_ITEM_19"
              }
            }
          }
        }
      }
    },
    "/exams": {
      "get": {
        "description": "Хэрэглэгчийн шалгалтуудыг авна",
        "security": [
          {
            "BasicAuth": []
          },
          {
            "BearerAuth": []
          },
          {
            "OAuth2": []
          }
        ],
        "responses": {
          "200": {
            "description": "The queried record.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "close_on": {
                            "$ref": "#/components/schemas/TIMESTAMP"
                          },
                          "course_id": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "description": {
                            "$ref": "#/components/schemas/CLOB"
                          },
                          "duration": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "end_on": {
                            "$ref": "#/components/schemas/TIMESTAMP"
                          },
                          "grade_point": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "id": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "max_attempt": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "name": {
                            "$ref": "#/components/schemas/VARCHAR2"
                          },
                          "open_on": {
                            "$ref": "#/components/schemas/TIMESTAMP"
                          },
                          "total_point": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "{}course": {
                            "$ref": "#/components/schemas/VARCHAR2"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "current_user",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Implicit parameter"
          }
        ]
      }
    },
    "/exams/{exam_id}": {
      "delete": {
        "description": "Шалгалт устгана",
        "security": [
          {
            "BasicAuth": []
          },
          {
            "BearerAuth": []
          },
          {
            "OAuth2": []
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted result."
          }
        },
        "parameters": [
          {
            "name": "exam_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "description": "implicit"
          }
        ]
      },
      "get": {
        "description": "Шалгалтын мэдээллийг авна",
        "security": [
          {
            "BasicAuth": []
          },
          {
            "BearerAuth": []
          },
          {
            "OAuth2": []
          }
        ],
        "responses": {
          "200": {
            "description": "The queried record.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "close_on": {
                      "$ref": "#/components/schemas/TIMESTAMP"
                    },
                    "course_id": {
                      "$ref": "#/components/schemas/NUMBER"
                    },
                    "description": {
                      "$ref": "#/components/schemas/CLOB"
                    },
                    "duration": {
                      "$ref": "#/components/schemas/NUMBER"
                    },
                    "end_on": {
                      "$ref": "#/components/schemas/TIMESTAMP"
                    },
                    "grade_point": {
                      "$ref": "#/components/schemas/NUMBER"
                    },
                    "id": {
                      "$ref": "#/components/schemas/NUMBER"
                    },
                    "max_attempt": {
                      "$ref": "#/components/schemas/NUMBER"
                    },
                    "name": {
                      "$ref": "#/components/schemas/VARCHAR2"
                    },
                    "open_on": {
                      "$ref": "#/components/schemas/TIMESTAMP"
                    },
                    "total_point": {
                      "$ref": "#/components/schemas/NUMBER"
                    },
                    "{}course": {
                      "$ref": "#/components/schemas/VARCHAR2"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "exam_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "description": "implicit"
          }
        ]
      },
      "put": {
        "description": "Шалгалтын мэдээллийг өөрчилнө",
        "security": [
          {
            "BasicAuth": []
          },
          {
            "BearerAuth": []
          },
          {
            "OAuth2": []
          }
        ],
        "responses": {
          "200": {
            "description": "The successfully updated record.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "201": {
            "description": "The successfully created record.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "exam_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "description": "implicit"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v1_ITEM_20"
              }
            }
          }
        }
      }
    },
    "/exams/{exam_id}/questions": {
      "get": {
        "description": "Шалгалтын асуултын тохиргоонуудыг авна",
        "security": [
          {
            "BasicAuth": []
          },
          {
            "BearerAuth": []
          },
          {
            "OAuth2": []
          }
        ],
        "responses": {
          "200": {
            "description": "The queried record.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "created_by": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "created_on": {
                            "$ref": "#/components/schemas/TIMESTAMP"
                          },
                          "exam_id": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "id": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "lesson_id": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "level_id": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "quantity": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "type_id": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "updated_by": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "updated_on": {
                            "$ref": "#/components/schemas/TIMESTAMP"
                          },
                          "{}lesson": {
                            "$ref": "#/components/schemas/VARCHAR2"
                          },
                          "{}level": {
                            "$ref": "#/components/schemas/VARCHAR2"
                          },
                          "{}type": {
                            "$ref": "#/components/schemas/VARCHAR2"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "exam_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "description": "implicit"
          }
        ]
      },
      "post": {
        "description": "Шалгалтанд орох асуултын тохиргоо нэмнэ.",
        "security": [
          {
            "BasicAuth": []
          },
          {
            "BearerAuth": []
          },
          {
            "OAuth2": []
          }
        ],
        "responses": {
          "201": {
            "description": "The successfully created record.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "exam_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "description": "implicit"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v1_ITEM_21"
              }
            }
          }
        }
      }
    },
    "/exams/{exam_id}/questions/{exam_question_id}": {
      "put": {
        "description": "Create or update a record on v1",
        "security": [
          {
            "BasicAuth": []
          },
          {
            "BearerAuth": []
          },
          {
            "OAuth2": []
          }
        ],
        "responses": {
          "200": {
            "description": "The successfully updated record.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "201": {
            "description": "The successfully created record.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "exam_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "description": "implicit"
          },
          {
            "name": "exam_question_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "description": "implicit"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v1_ITEM_21"
              }
            }
          }
        }
      },
      "get": {
        "description": "Шалгалтын асуултын тохиргоог авна",
        "security": [
          {
            "BasicAuth": []
          },
          {
            "BearerAuth": []
          },
          {
            "OAuth2": []
          }
        ],
        "responses": {
          "200": {
            "description": "The queried record.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "created_by": {
                      "$ref": "#/components/schemas/NUMBER"
                    },
                    "created_on": {
                      "$ref": "#/components/schemas/TIMESTAMP"
                    },
                    "exam_id": {
                      "$ref": "#/components/schemas/NUMBER"
                    },
                    "id": {
                      "$ref": "#/components/schemas/NUMBER"
                    },
                    "lesson_id": {
                      "$ref": "#/components/schemas/NUMBER"
                    },
                    "level_id": {
                      "$ref": "#/components/schemas/NUMBER"
                    },
                    "quantity": {
                      "$ref": "#/components/schemas/NUMBER"
                    },
                    "type_id": {
                      "$ref": "#/components/schemas/NUMBER"
                    },
                    "updated_by": {
                      "$ref": "#/components/schemas/NUMBER"
                    },
                    "updated_on": {
                      "$ref": "#/components/schemas/TIMESTAMP"
                    },
                    "{}lesson": {
                      "$ref": "#/components/schemas/VARCHAR2"
                    },
                    "{}level": {
                      "$ref": "#/components/schemas/VARCHAR2"
                    },
                    "{}type": {
                      "$ref": "#/components/schemas/VARCHAR2"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "exam_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "description": "implicit"
          },
          {
            "name": "exam_question_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "description": "implicit"
          }
        ]
      },
      "delete": {
        "description": "Шалгалтын асуултын тохиргоог устгана",
        "security": [
          {
            "BasicAuth": []
          },
          {
            "BearerAuth": []
          },
          {
            "OAuth2": []
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted result."
          }
        },
        "parameters": [
          {
            "name": "exam_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "description": "implicit"
          },
          {
            "name": "exam_question_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "description": "implicit"
          }
        ]
      }
    },
    "/exams/{exam_id}/users": {
      "get": {
        "description": "Шалгалтын хэрэглэгчдийг авна",
        "security": [
          {
            "BasicAuth": []
          },
          {
            "BearerAuth": []
          },
          {
            "OAuth2": []
          }
        ],
        "responses": {
          "200": {
            "description": "The queried record.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {}
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "exam_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "description": "implicit"
          }
        ]
      }
    },
    "/exams/{exam_id}/users/{user_id}": {
      "get": {
        "description": "Хэрэглэгчийн шалгалтын хуудсуудыг авна",
        "security": [
          {
            "BasicAuth": []
          },
          {
            "BearerAuth": []
          },
          {
            "OAuth2": []
          }
        ],
        "responses": {
          "200": {
            "description": "The queried record.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attempt_no": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "created_by": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "created_on": {
                            "$ref": "#/components/schemas/TIMESTAMP"
                          },
                          "duration": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "end_on": {
                            "$ref": "#/components/schemas/TIMESTAMP"
                          },
                          "exam_id": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "grade_point": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "id": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "start_on": {
                            "$ref": "#/components/schemas/TIMESTAMP"
                          },
                          "total_point": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "updated_by": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "updated_on": {
                            "$ref": "#/components/schemas/TIMESTAMP"
                          },
                          "user_id": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "variant_id": {
                            "$ref": "#/components/schemas/NUMBER"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "exam_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "description": "implicit"
          },
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "description": "implicit"
          }
        ]
      },
      "post": {
        "description": "Дуусгаагүй шаглалт байвал тэрний хуудсыг авна. Үгүй бол шинэ шалгалтын хуудас үүсгэнэ.",
        "security": [
          {
            "BasicAuth": []
          },
          {
            "BearerAuth": []
          },
          {
            "OAuth2": []
          }
        ],
        "responses": {
          "201": {
            "description": "The successfully created record.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "exam_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "description": "implicit"
          },
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "description": "implicit"
          }
        ]
      }
    },
    "/exams/{exam_id}/users/{user_id}/attempts": {
      "get": {
        "description": "Хэрэглэгчийн шалгалтын хуудсуудыг авна",
        "security": [
          {
            "BasicAuth": []
          },
          {
            "BearerAuth": []
          },
          {
            "OAuth2": []
          }
        ],
        "responses": {
          "200": {
            "description": "The queried record.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attempt_no": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "created_by": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "created_on": {
                            "$ref": "#/components/schemas/TIMESTAMP"
                          },
                          "duration": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "end_on": {
                            "$ref": "#/components/schemas/TIMESTAMP"
                          },
                          "exam_id": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "grade_point": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "id": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "start_on": {
                            "$ref": "#/components/schemas/TIMESTAMP"
                          },
                          "total_point": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "updated_by": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "updated_on": {
                            "$ref": "#/components/schemas/TIMESTAMP"
                          },
                          "user_id": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "variant_id": {
                            "$ref": "#/components/schemas/NUMBER"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "exam_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "description": "implicit"
          },
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "description": "implicit"
          }
        ]
      }
    },
    "/exams/{exam_id}/users/{user_id}/attempts/{attempt}": {
      "get": {
        "description": "Шалгалтын хуудсыг авна",
        "security": [
          {
            "BasicAuth": []
          },
          {
            "BearerAuth": []
          },
          {
            "OAuth2": []
          }
        ],
        "responses": {
          "200": {
            "description": "The queried record.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {}
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "attempt",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "description": "implicit"
          },
          {
            "name": "exam_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "description": "implicit"
          },
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "description": "implicit"
          }
        ]
      },
      "delete": {
        "description": "Шалгалтын хуудсыг устгана",
        "security": [
          {
            "BasicAuth": []
          },
          {
            "BearerAuth": []
          },
          {
            "OAuth2": []
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted result."
          }
        },
        "parameters": [
          {
            "name": "attempt",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "description": "implicit"
          },
          {
            "name": "exam_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "description": "implicit"
          },
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "description": "implicit"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v1_ITEM_22"
              }
            }
          }
        }
      }
    },
    "/exams/{exam_id}/users/{user_id}/attempts/{attempt}/evaluation": {
      "get": {
        "description": "Шалгалтын хуудсын үр дүнг авна",
        "security": [
          {
            "BasicAuth": []
          },
          {
            "BearerAuth": []
          },
          {
            "OAuth2": []
          }
        ],
        "responses": {
          "200": {
            "description": "The queried record.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "created_by": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "created_on": {
                            "$ref": "#/components/schemas/TIMESTAMP"
                          },
                          "id": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "point": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "result_lesson_id": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "sheet_id": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "updated_by": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "updated_on": {
                            "$ref": "#/components/schemas/TIMESTAMP"
                          },
                          "{}result_lesson": {
                            "$ref": "#/components/schemas/VARCHAR2"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "attempt",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "description": "implicit"
          },
          {
            "name": "exam_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "description": "implicit"
          },
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "description": "implicit"
          }
        ]
      }
    },
    "/exams/{exam_id}/users/{user_id}/attempts/{attempt}/questions": {
      "get": {
        "description": "Шалгалтын хуудсын асуултуудыг авна",
        "security": [
          {
            "BasicAuth": []
          },
          {
            "BearerAuth": []
          },
          {
[...]
